* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: left;
  }  
  .flex-item-left {
    padding: 150px;
  }  
  .flex-item-right {
    padding: 10px;
  }
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
  }
  
body {
    background-image: url(./midia/img/Simpsons-Zoom-Background.png);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    color: yellow;
    position: center;
    text-align: center;  
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #eeff07;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(10, 10, 10);
}
button:hover {
    color: whitesmoke;
    background-color: #000000;
    box-shadow: 0 9px #eeff07;
}
button:active {
    background-color: #000000;
    box-shadow: 0 5px rgb(248, 203, 0);
    transform: translateY(4px);
  }